extends layout 

block content
  .p-16.bg-base-200.h-screen
    h1.text-5xl.mb-16.font-bold= title
    
    .cards-container.flex.gap-16.justify-start.flex-wrap
      each category in category_list
        a(href=category.url)
          .card.w-96.bg-base-100.shadow-xl
            .card-body
              h2.card-title= category.name
              
